<template>
  <button class="custom-button">
    <span class="custom-button__span">
      {{ props.innerText }}
    </span>
  </button>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
import { IButtonProps } from "./custom-button.types";

defineProps<{
  props: IButtonProps;
}>();
</script>

<style lang="scss" scoped>
.custom-button {
  border: none;
  background: none;
  border-radius: 1000px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  background-color: #1c6c30;
}
</style>
