<template>
  <div class="universal-card">
    <slot />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.universal-card {
  background-color: #dce5dd;
  padding: 20px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
</style>
