<template>
  <li
    :class="[
      'list-menu-item',
      props.isSelected ? 'list-menu-item_selected' : '',
    ]"
  >
    <p class="list-menu-item__title">{{ props.title }}</p>
  </li>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
import { IListSelectMenuItemProps } from "./list-select.types";

defineProps<{
  props: IListSelectMenuItemProps;
}>();
</script>

<style lang="scss" scoped>
.list-menu-item {
  width: 100%;
  height: 56px;
  list-style: none;
  margin: 0;
  background-color: #fffbff;
  cursor: pointer;
  transition: all 200ms;

  &_selected {
    background-color: #dce5dd;
  }

  &__state-layer {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  &__title {
    color: #534341;
    user-select: none;
  }
}
</style>
