<template>
  <p class="card-label">
    <google-material-icon
      :props="{
        iconName: props.iconName,
        selected: true,
      }"
    ></google-material-icon>
    <span class="card-label card-label_title">{{ props.heading }}: </span
    >{{ props.value }}
  </p>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
import { ICardLabelProps } from "./card-label.types";
import googleMaterialIcon from "@/components/google-material-icon/google-material-icon.vue";

defineProps<{ props: ICardLabelProps }>();
</script>

<style scoped lang="scss">
.card-label {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_title {
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 800;
  }
}
</style>
