<template>
  <div class="players-catalog">
    <custom-button
      :props="{
        innerText: 'Добавить нового игрока',
      }"
      @click="onAddNewPlayerClicked"
    />
    <soccer-player-card
      v-for="player in state.data"
      :key="player.id"
      :props="{
        player: player,
      }"
    ></soccer-player-card>
  </div>
</template>

<script setup lang="ts">
import SoccerPlayerCard from "@/components/soccer-player-card/soccer-player-card.vue";
import { onMounted, reactive } from "vue";
import { IPlayerDto } from "@/dtos/player.dto";
import getPlayers from "./api-methods";
import CustomButton from "@/components/custom-button/custom-button.vue";
import router from "@/router";

const state = reactive<{ data: IPlayerDto[] }>({
  data: [] as IPlayerDto[],
});

onMounted(() => {
  getPlayers(state, 250, 0);
});

const onAddNewPlayerClicked = () => {
  router.push({ name: "new-player" });
};
</script>

<style scoped lang="scss">
.players-catalog {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
</style>
