<template>
  <div class="edit-player-card">
    <text-field
      placeholder="Имя"
      v-model="state.form.firstname"
      class="edit-player-form__firstname-input"
    />
    <text-field
      placeholder="Фамилия"
      v-model="state.form.surname"
      class="edit-player-form__surname-input"
    />
    <text-field
      placeholder="Пол (Male/Female/etc)"
      v-model="state.form.gender"
      class="edit-player-form__gender-input"
    />
    <list-select
      class="edit-player-form__country-input"
      v-if="state.countries.length > 0"
      :props="{
          title: 'Страна',
          isDefaultSelectionAvaliable: false,
          menuItems: state.countries.map((country: ICountryDto) => ({
			id: country.id,
			title: country.countryName,
		})),
          selectedItemId: state.form.countryId,
        }"
      @selected="onCountrySelection"
    />

    <list-select
      class="edit-player-form__team-input"
      v-if="state.teams.length > 0"
      :props="{
          title: 'Команда',
          isDefaultSelectionAvaliable: false,
          menuItems: state.teams.map((team: ITeamDto) => ({
			id: team.id,
			title: team.teamTitle,
		})),
          selectedItemId: state.form.teamId,
        }"
      @selected="onTeamSelection"
    />

    <date-selector
      class="new-player-form__dateOfBirth-input"
      v-model="state.form.dateOfBirth"
    />

    <custom-button
      :props="{ innerText: 'Применить изменения' }"
      @click="submitEditForm"
    />
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import { IEditSoccerPlayerFormProps } from "./edit-soccer-player-form.types";
import { IPlayerDto } from "@/dtos/player.dto";
import { ICountryDto } from "@/dtos/country.dto";
import { ITeamDto } from "@/dtos/team.dto";
import getCountries from "@/http/api-methods/get-countries.api-method";
import getTeams from "@/http/api-methods/get-teams.api-method";
import TextField from "@/components/text-field/text-field.vue";
import ListSelect from "@/components/list-select/list-select.vue";
import DateSelector from "@/components/date-selector/date-selector.vue";
import CustomButton from "@/components/custom-button/custom-button.vue";
import { onMounted, reactive } from "vue";
import { patchPlayer } from "./api-methods";

const props = defineProps<{ props: IEditSoccerPlayerFormProps }>();

const emit = defineEmits<{
  (event: "patched", payload: IPlayerDto): void;
}>();

const state = reactive<{
  originalState: IPlayerDto;
  form: IPlayerDto;
  countries: ICountryDto[];
  teams: ITeamDto[];
}>({
  originalState: {} as IPlayerDto,
  form: {} as IPlayerDto,
  countries: [] as ICountryDto[],
  teams: [] as ITeamDto[],
});

onMounted(() => {
  getCountries(state);
  getTeams(state);
  state.form = { ...props.props.state };
  state.originalState = { ...props.props.state };
});

const onCountrySelection = (countryId: number) => {
  state.form.countryId = countryId;
};

const onTeamSelection = (teamId: number) => {
  state.form.teamId = teamId;
};

const submitEditForm = () => {
  patchPlayer(state.originalState.id, state.originalState, state.form).then(
    (response) => {
      console.log(response);
      emit("patched", state.form);
    }
  );
};
</script>

<style scoped lang="scss">
.edit-player-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 25px;
    font-weight: 800;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
</style>
