<template>
  <header class="main-header-wrapper">
    <img
      class="main-header__background-image"
      :src="require('@/assets/images/soccer-field-grass.jpg')"
    />
    <div class="main-header__title-wrapper title">
      <h1 class="title-text">{{ $route.meta.title }}</h1>
    </div>
  </header>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.main-header {
  &-wrapper {
    height: 250px;
    border-radius: 15px;
    display: grid;
  }

  &__background-image {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    grid-column: 1;
    grid-row: 1;
  }
}

.title {
  &-text {
    color: #fff;
    font-size: 45px;
  }
}
</style>
