<template>
  <input
    type="date"
    class="date-picker"
    @input="
      emit('update:modelValue', ($event.target as HTMLInputElement).value)
    "
    :value="modelValue"
    min="0000-00-00"
    max="9999-12-30"
  />
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from "vue";

defineProps<{
  modelValue: string;
}>();

const emit = defineEmits<{
  (event: "update:modelValue", payload: string): void;
}>();
</script>

<style scoped lang="scss">
.date-picker {
  width: 100%;
  min-height: 56px;
  height: auto;
  outline: none;
  box-shadow: none;
  border-color: #857370;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 21px;
  font-size: 16px;
  background-color: #ffffff00;

  &:hover,
  &:focus {
    border-color: #201a19;
  }
}
</style>
