<template>
  <universal-card class="player-card">
    <div class="player-card__action-button-wrapper">
      <google-material-icon
        class="player-card__action-button"
        :props="{
          iconName: state.mode === 'view' ? 'edit' : 'close',
        }"
        @click="toggleMode"
      />
    </div>

    <view-soccer-player-card
      v-if="state.mode === 'view'"
      :props="{
        player: state.player,
      }"
    />

    <edit-soccer-player-form
      v-else
      :props="{
        state: state.player,
      }"
      @patched="onPatched"
    />
  </universal-card>
</template>

<script setup lang="ts">
import { defineProps, reactive, onMounted } from "vue";
import { ISoccerPlayerCardProps } from "./soccer-player-card.types";
import UniversalCard from "@/components/universal-card/universal-card.vue";
import GoogleMaterialIcon from "../google-material-icon/google-material-icon.vue";
import EditSoccerPlayerForm from "./edit-soccer-player-form/edit-soccer-player-form.vue";
import ViewSoccerPlayerCard from "./view-soccer-player-card/view-soccer-player-card.vue";
import { IPlayerDto } from "@/dtos/player.dto";

const props = defineProps<{ props: ISoccerPlayerCardProps }>();

const state = reactive<{ player: IPlayerDto; mode: "view" | "edit" }>({
  mode: "view",
  player: {} as IPlayerDto,
});

onMounted(() => {
  state.player = { ...props.props.player };
});

const toggleMode = () => {
  state.mode = state.mode === "view" ? "edit" : "view";
};

const onPatched = (patcherPlayer: IPlayerDto) => {
  state.player = patcherPlayer;
  toggleMode();
};
</script>

<style scoped lang="scss">
.player-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 25px;
    font-weight: 800;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__action-button {
    &-wrapper {
      display: flex;
      justify-content: end;
    }

    cursor: pointer;
  }
}
</style>
