<template>
  <universal-card>
    <div class="new-player-form">
      <text-field
        placeholder="Имя"
        v-model="state.form.firstname"
        class="new-player-form__firstname-input"
      />
      <text-field
        placeholder="Фамилия"
        v-model="state.form.surname"
        class="new-player-form__surname-input"
      />
      <text-field
        placeholder="Пол (Male/Female/etc)"
        v-model="state.form.gender"
        class="new-player-form__gender-input"
      />
      <list-select
        class="new-player-form__country-input"
        v-if="state.countries.length > 0"
        :props="{
          title: 'Страна',
          isDefaultSelectionAvaliable: false,
          menuItems: state.countries.map((country: ICountryDto) => ({
			id: country.id,
			title: country.countryName,
		})),
          selectedItemId: state.form.countryId,
        }"
        @selected="onCountrySelection"
      />

      <list-select
        class="new-player-form__team-input"
        v-if="state.teams.length > 0"
        :props="{
          title: 'Команда',
          isDefaultSelectionAvaliable: false,
          menuItems: state.teams.map((team: ITeamDto) => ({
			id: team.id,
			title: team.teamTitle,
		})),
          selectedItemId: state.form.teamId,
        }"
        @selected="onTeamSelection"
      />

      <div class="new-player-form__new-team-input">
        <text-field
          placeholder="Или введите название новой команды здесь"
          v-model="state.newTeamTitle"
          class="new-player-form__firstname-input"
        />
        <custom-button
          :props="{ innerText: 'Добавить команду' }"
          @click="addNewTeam"
        />
      </div>

      <date-selector
        class="new-player-form__dateOfBirth-input"
        v-model="state.form.dateOfBirth"
      />
      <custom-button
        :props="{ innerText: 'Добавить игрока' }"
        @click="submitForm"
      />
    </div>
  </universal-card>
</template>

<script setup lang="ts">
import { IPlayerDto } from "@/dtos/player.dto";
import { ICountryDto } from "@/dtos/country.dto";
import { ITeamDto } from "@/dtos/team.dto";
import { onMounted, reactive } from "vue";
import getCountries from "@/http/api-methods/get-countries.api-method";
import getTeams from "@/http/api-methods/get-teams.api-method";
import { postPlayer, postTeam } from "./api-methods";
import UniversalCard from "@/components/universal-card/universal-card.vue";
import TextField from "@/components/text-field/text-field.vue";
import ListSelect from "@/components/list-select/list-select.vue";
import DateSelector from "@/components/date-selector/date-selector.vue";
import CustomButton from "@/components/custom-button/custom-button.vue";
import router from "@/router";

const state = reactive<{
  form: IPlayerDto;
  countries: ICountryDto[];
  teams: ITeamDto[];
  newTeamTitle: string;
}>({
  form: {} as IPlayerDto,
  countries: [] as ICountryDto[],
  teams: [] as ITeamDto[],
  newTeamTitle: "",
});

onMounted(() => {
  getCountries(state);
  getTeams(state);
  console.log(state);
});

const onCountrySelection = (countryId: number) => {
  state.form.countryId = countryId;
};

const onTeamSelection = (teamId: number) => {
  state.form.teamId = teamId;
};

const submitForm = () => {
  if (
    !state.form.firstname ||
    !state.form.surname ||
    !state.form.countryId ||
    !state.form.teamId ||
    !state.form.dateOfBirth
  ) {
    alert("Вы заполнили не все поля");
    return;
  }

  postPlayer(state.form).then((reponse) => {
    router.push({ name: "players-catalog" });
  });
};

const addNewTeam = () => {
  if (!state.newTeamTitle) {
    alert("Вы не указали название новой команды");
    return;
  }
  postTeam(state, { TeamTitle: state.newTeamTitle }).then((response) => {
    getTeams(state);
    return;
  });
  state.newTeamTitle = "";
};
</script>

<style scoped lang="scss">
.new-player-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__new-team-input {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 15px;
  }
}
</style>
