<template>
  <div class="view-player-card">
    <h2 class="view-player-card__title">
      {{ `${props.player.firstname} ${props.player.surname}` }}
    </h2>

    <div class="view-player-card__labels">
      <card-label
        class="view-player-card__label"
        :props="{
          iconName: 'person',
          heading: 'Пол',
          value: getGenderLabel(props.player.gender),
        }"
      />

      <card-label
        class="view-player-card__label"
        :props="{
          iconName: 'cake',
          heading: 'Дата рождения',
          value: moment(props.player.dateOfBirth).format('DD.MM.YYYY'),
        }"
      />

      <card-label
        class="view-player-card__label"
        :props="{
          iconName: 'supervised_user_circle',
          heading: 'Команда',
          value: props.player.teamTitle,
        }"
      />

      <card-label
        class="view-player-card__label"
        :props="{
          iconName: 'flag',
          heading: 'Страна',
          value: props.player.countryTitle,
        }"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
import { ISoccerPlayerCardProps } from "./../soccer-player-card.types";
import CardLabel from "@/components/card-label/card-label.vue";
import moment from "moment";

defineProps<{ props: ISoccerPlayerCardProps }>();

const getGenderLabel = (originalGender: string) => {
  if (originalGender === "Male") {
    return "Мужской";
  } else if (originalGender === "Feamle") {
    return "Женский";
  } else {
    return originalGender;
  }
};
</script>

<style scoped lang="scss">
.view-player-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 25px;
    font-weight: 800;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
</style>
