<template>
  <main-header></main-header>

  <main>
    <router-view />
  </main>
</template>

<script setup lang="ts">
import MainHeader from "@/views/main-header.vue";
import SoccerPlayerCard from "@/components/soccer-player-card/soccer-player-card.vue";
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
}

main {
  margin-top: 25px;
}

#app {
  font-family: "Fira Sans";
  font-style: normal;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 50px auto;
}

header,
main {
  width: 1000px;
  max-width: 100%;
}

.header {
  &-wrapper {
    height: 250px;
    border-radius: 15px;
    display: grid;
  }

  &__background-image {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    grid-column: 1;
    grid-row: 1;
  }
}

.title {
  &-text {
    color: #fff;
    font-size: 45px;
  }
}
</style>
